@keyframes l-rotate {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(-180deg); }
  100% { transform: rotate(-180deg); }
}

@keyframes r-rotate {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(0deg); }
  100% { transform: rotate(-180deg); }
}

#clock-border{
  position: relative;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  border-radius: 999px;
  box-shadow: inset 0 0 0 20px lightcoral;
}

.left-half,
.right-half{
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.left-half::before,
.right-half::before{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 20px solid blueviolet;
  animation-duration: inherit;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.left-half:before {
  border-right: none;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  transform-origin: center right;
  transform-origin: center right;
  animation-name: l-rotate;
}

.right-half:before {
  border-left: none;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  transform-origin: center left;
  transform-origin: center left;
  animation-name: r-rotate;
}

.clock-inner{
  position: absolute;
  top: 45%;
  left: 40%;
}